.placmentButton{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  margin-top: 7px;
}
.przyciskGoly{
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--var-bialy);
  font-size: 25px;

}
.lewy{
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
.prawy{
  grid-column: 3;
  align-self: center;
  justify-self: center;
}
