.container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  .row{
    width: 100%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
  }
}
.content{
  border: 1px solid black;
  height: 10vh;
}

