<div class="container">
  <div class="row">
    <czarek-kalendarz></czarek-kalendarz>

    <div class="content">
      terminy works!
    </div>
    <czarek-button [kanaly]="['odblokujPrzycisk']" [klasy]="['placmentButton', 'buttonWyboru']" nazwa="Dodaj termin" niedostepnyTekst="Wybierz datę aby dodac termin"
      [niedostepny]="true"></czarek-button>
  </div>
</div>
