<div class="content card">
  <div class="month card">
    <czarek-button [klasy]="['lewy','przyciskGoly']" nazwa="<" (klik)="poprzedniMiesiac()"></czarek-button>
    <span>{{miesiac}}</span>
    <czarek-button [klasy]="['prawy','przyciskGoly']" nazwa=">" (klik)="nastepnyMiesiac()"></czarek-button>
  </div>
  <ul>
    <li *ngFor="let data of liczbaDni" (click)="onClick(data.dzien)" czarekData [dzis]="data.dzien">{{data.dzien}}
      <div *ngIf="data.zajety" class="kropka"></div>
    </li>
  </ul>
</div>
