.content {
  width: 100%;
  min-height: 10vh;
  margin-top: 6px;
}
.month {
  height: 5vh;
  background-color: var(--var-szary);
  color: var(--var-bialy);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  span {
    font-size: 25px;
    font-family: inherit;
    grid-column: 2;
  }
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  width: 14%;
  box-sizing: border-box;
  padding: 11px;
  list-style: none;
  display: block;
  text-align: center;
  font-size: 20px;
  border-radius: 21%;
}
li:hover{
  transition: 0.5s;
  background-color: var(--var-szary);
  color: var(--var-bialy);
}
.kropka {
  height: 5px;
  width: 5px;
  background-color: black;
  margin: 0 auto;

}


