.toolbar{
  height: 64px;
  display: flex;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  margin-bottom: 1px;
  span{
    font-size: 20px;
  }
}
