html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell;

  margin: 0;
}

:root {
  --var-czarny: #212121;
  --var-bialy: #eceff1;
  --var-szary: #bdbdbd;
}
.card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.buttonWyboru {
  transition: box-shadow 1s;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 109px;
  font-size: 24px;
  box-sizing: border-box;
  background-color: transparent;
  align-items: center;
  outline: none;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.87);
}
