<div id="home">
  <div id="backgroundVideo">



    <div class="etykieta">
      <div class="wlasciwa">
        <div class="title">

          <h1 id="baner">
            #Czarek-Kierowca
          </h1>
          <div class="description">
            <h2>Sprawdź i dodaj swój termin</h2>
            <div>
              <i id="znaczekGoogle" class="fa fa-google"></i> Zaloguj</div>
          </div>

        </div>
      </div>
    </div>


    <video *ngIf="duzy" id="vidi" autoplay loop class="fillWidth" muted>
      <source src="./../../assets/video/jeep.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>

  </div>
  <section id="wybor">
    <div class="containerP">
      <div class="rowP">
        <div class="rownosc">
          <button (click)="scroll(cena)" class="buttonWyboru">
            <i class="fa fa-money"></i>
            <span>Cena</span>
          </button>

        </div>
        <div class="rownosc">
          <button routerLink="/" class="buttonWyboru">
            <i style="font-size: 23px;" class="fa fa-info-circle "></i>
            <span>Terminy</span>
          </button>

        </div>

        <div class="rownosc">
          <button (click)="scroll(kontakt)" class="buttonWyboru">
            <i class="fa fa-phone "></i>
            <span>Kontakt</span>
          </button>

        </div>

      </div>
    </div>
  </section>
  <section id="prezentacja">
    <div class="containerP">

      <div *ngIf="duzy" class="tloLas">
        <div class="filtr"></div>
      </div>

      <div class="rowS">

        <div>
          <h1 class="leadNapis">Poczój moc 5.7 litrowej bestii</h1>
          <img class="centerImg" visibleClass="animacjaJeep" id="jeepFoto" czarekLazySrc lazySrc="../assets/jeep.webp" />

        </div>

      </div>
      <div class="flexo">

        <div class="lewe">

          <ul>
            <li>
              <strong>Osiągi</strong>
            </li>
            <li>Liczba cylindrów: 8 w układzie V (V8)</li>
            <li>Maks. moc: 468 KM przy 6250 obr./min</li>
            <li>Stały napęd 4×4</li>
          </ul>
        </div>
        <div class="prawe">
          <ul>
            <li>
              Prześwit: 20 cm
            </li>
            <li>
              Przyspieszenie 0–100 km/h: 5,0 s.
            </li>
            <li>
              Prędkość maksymalna: 257 km/h
            </li>
          </ul>
        </div>
      </div>
    </div>



  </section>
  <section id="historia">
    <div class="conteinerH">
      <div class="obrazH">
        <img czarekLazySrc lazySrc="../assets/jeepold.webp" class="jeepH" />
      </div>
      <div class="tekstH">
        <div>
          <h1>Marka Jeep to światowa legenda motoryzacji</h1>

          <p>
            Marka Jeep to światowa legenda motoryzacji Pomysł na samochód z napędem na 4 koła narodził się już w początkach motoryzacji.
            Przez lata stosowano go jednak w nielicznych pojazdach, niemal wyłącznie militarnych. Willys MA/MB Jeep i jego
            następcy dokonali wielkiego przełomu – terenówki stały się produkowanymi w dużych ilościach pojazdami ogólnodostępnymi.
            Po wojnie Jeep wyznaczył standardy dla innych producentów.
          </p>
          <div>
            <h1> Konstrukcja stworzona przez Willys – Overland jako prototyp dla rządu USA sprawdziła się dzięki prostej i niezawodnej
              konstrukcji podczas wojny. I tym samym stała się światową ikoną offroadu i napędu 4x4</h1>

          </div>
        </div>
      </div>

    </div>
    <div class="conteinerH">
      <div class="tekstH2">
        <h1>Model Grand Cherokee </h1>
        <p>
          Bogatszy, szybszy, luksusowy bart mniejszego Jeepa Cherokee. Dostarcza luksus jaki i pozwala na pełnoprawną jazdę terenową.
          Stanowił przełom w inżynierii takich aut łącząc w sobie komfort pasażera oraz właściwości terenowe.
        </p>
      </div>
      <div class="obrazH2">
        <img class="jeepGC" czarekLazySrc lazySrc="../assets/jeepcold.webp" />
      </div>
    </div>

  </section>
  <section id="dzis">
    <div class="containerP">
      <div class="rowD">
        <h1 class="leadH1"> Grand Cherokee dziś </h1>
        <div class="pajak">
          <div czarekLazySrc visibleClass="logoJ"></div>
        </div>
        <div class="pajak2">
          <div czarekLazySrc visibleClass="skoraJ"> </div>
          <p class="tekstPajka">
            Ekskluzywne i perfekcyjnie spasowane wykończenie
          </p>
        </div>
        <div class="pajak foteloDiv">
          <div czarekLazySrc visibleClass="fotel"></div>
        </div>
        <div class="pajak3">
          <div class="leadTekst">
            <p>
              Technologia i piękno
            </p>

          </div>
        </div>
        <div class="pajak">
          <div czarekLazySrc visibleClass="swiatlo">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section #cena id="cena">
    <div class="containerP">
      <div class="rowD">
        <h1 class="leadH1"> Pakiety cenowe </h1>

        <div class="pakietyCenoweGrid">
          <div class="card elementGrid pierwszy backTlo">
            <h1>Podstawowy</h1>
            <div class="card">
              <h3>Przejazd</h3>
              <p>
                <strong>Przejazd tam i z powrotem </strong>

              </p>
              <p>
                ( Możliwe dolicznie opłaty związnej ze znaczym oddaleniem od Siedlec )
              </p>
            </div>
            <div class="card">
              <h3>Przystrojenie</h3>
              <p>
                Przystrojenie standarodwe lub własne

              </p>

            </div>
            <h1 class="poPrawej">Cena: 500 zł</h1>
          </div>
          <div class="card elementGrid drugi">
            <h1>Premium</h1>
            <div class="card">
              <h3>Przejazd</h3>
              <p>
                <strong>Przejazd tam i z powrotem </strong>

              </p>
              <p>
                ( Możliwe dolicznie opłaty związnej ze znaczym oddaleniem od Siedlec )
              </p>
            </div>
            <div class="card">
              <h3>Przystrojenie</h3>
              <p>
                Przystrojenie standarodwe lub własne

              </p>

            </div>
            <div class="card">
              <h3>Dodaktowe życzenia</h3>
              <p>
                Niestadardwoe życenia klienta

              </p>

            </div>
            <h1 class="poPrawej">Cena: do ustalenia</h1>
          </div>



        </div>
      </div>
    </div>
  </section>

  <section #kontakt id="kontakt">
    <div class="card kontaktGrid">
      <div class="card element">
        <h1>Kontakt</h1>
        <p>Email: mail@mail.com</p>
        <p>Telefon: mail@mail.com</p>
        <p>Olx: mail@mail.com</p>
      </div>
    </div>
  </section>
