#backgroundVideo {
  position: relative;
  height: 95vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
#home{
  overflow: hidden;
}
#backgroundVideo video {
  width: 100%;
  object-fit: fill;
  z-index: -5;
}
#wybor {
  margin: 0;
}
.etykieta {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section {
  margin-bottom: 10vh;
}
#prezentacja{
  .containerP{
    min-height: 69vh;
  }
}

.wlasciwa {
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(189, 189, 189, 0.5);
  padding: 42px 56px;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.title {
  color: white;
}
.containerP {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  height: 100%;
}

.backTlo{
  background-color: var(--var-bialy);
}
.conteinerH {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  width: 100%;
  height: 100%;
  margin-bottom: 8vh;
}
.pakietyCenoweGrid {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  width: 100%;
  margin-top: 8vh;

  .elementGrid {
    align-self: center;
    justify-self: center;
    width: 49%;
    min-height: 36vh;
    text-align: center;
  }
  .pierwszy {
    grid-column: 2;
    grid-row: 1;
  }
  .drugi {
    grid-column: 3;
    grid-row: 1;
    background-color: #ffc400;
  }
  .poPrawej {
    text-align: right;
  }
}
.kontaktGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--var-czarny);
  .element {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    width: 70%;
  }
}

.rowP {
  box-sizing: border-box;
  padding: 80px;
  height: 100%;
  width: 70%;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  display: flex;
}
.rowS {
  grid-row: 1;
  height: 100%;
  width: 100%;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.rowD {
  grid-row: 1;
  height: 100%;
  width: 92%;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.lewe {
  font-family: inherit;
  color: var(--var-bialy);
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
.prawe {
  font-family: inherit;
  color: var(--var-bialy);
  grid-column: 3;
  align-self: center;
  justify-self: center;
}
.rownosc {
  flex: 1;
}
.leadNapis {
  font-size: 41px;
  color: var(--var-bialy);
  margin-bottom: 0;
}
ul {
  list-style: none;
  font-family: inherit;
  font-size: 20px;
}

.tloLas {
  z-index: -4;
  width: 100%;
  position: absolute;
  height: 70%;
  animation: tla 15s linear infinite alternate;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes tla {
  0% {
    background-image: url('../../assets/forest.webp');
  }
  50%{
    background-image: url('../../assets/laka.webp');
  }
  100% {
    background-image: url('../../assets/peter.webp');
  }
}
.filtr {
  position: absolute;
  background-color: rgba(97, 97, 97, 0.5);
  width: 100%;
  height: 100%;
}

.buttonWyboru i {
  margin-right: 10px;
}
.odstep {
  margin-right: 14px;
}
.centerImg {
  display: block;
  margin: 0 auto;
}
#jeepFoto {
  width: 65%;

}
.animacjaJeep{
  animation: slide-up-fade-in ease 1s;
  animation-iteration-count: 1;
}
@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}
.jeepH {
  width: 100%;
}
.jeepGC {
  width: 100%;
}
.obrazH {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 70%;
}
.obrazH2 {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 80%;
}
.tekstH {
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  justify-self: center;
  width: 70%;
}
.tekstH2 {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  width: 70%;
}
.tekstH p {
  font-size: 18px;
}
.tekstH2 p {
  font-size: 18px;
}
.flexo {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}
.logoJ {
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  /* transition: width 6s ease-in-out;
  width: 100%; */
  animation: szerokos 3s linear forwards;
  background-image: url('../../assets/jeepl.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pajak {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  height: 50vh;
  margin-bottom: 9vh;
}
.pajak2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 50vh;
  grid-gap: 10px;
  margin-bottom: 9vh;
}
.pajak3 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  height: 25vh;
  grid-gap: 10px;
}
.tekstPajka {
  font-size: 65px;
  font-family: inherit;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.skoraJ {
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  /* transition: width 6s ease-in-out;
  width: 100%; */
  animation: szerokos 3s linear forwards;
  background-image: url('/../../assets/zagarJ.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fotel {
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  animation: szerokos 3s linear forwards;
  background-image: url('../../assets/kieroJ.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leadTekst {
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  font-size: 65px;
  font-family: inherit;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.swiatlo {
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  animation: szerokos 3s linear forwards;
  background-image: url('../../assets/swiatloJ.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leadH1 {
  font-size: 42px;
}
@keyframes szerokos {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 1600px) {
  .rowP {
    width: 100%;
  }
  #backgroundVideo {
    height: 75vh;
  }
}
@media (max-width: 1450px) {
  #jeepFoto {
    width: 80%;
  }
}
@media (max-width: 1250px) {
  #backgroundVideo {
    height: 55vh;
  }
  .containerS {
    display: block;
  }
  .obrazH,
  .obrazH2 {
    width: 80%;
  }
  .rowS {
    margin: 0 auto;
    width: 79%;
    grid-row: 1;
    grid-column: 1;
  }
  .tloLas {
    display: none;
  }
  .leadNapis {
    color: var(--var-czarny);
  }
  .flexo {
    width: 100%;
    display: flex;
    grid-row: 2;
    grid-column: 1;
  }
  .lewe {
    flex-grow: 1;
    color: var(--var-czarny);
  }
  .prawe {
    flex-grow: 1;
    color: var(--var-czarny);
  }
}
@media (max-width: 1160px) {
  .rowP {
    display: block;
  }
  .buttonWyboru {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .pakietyCenoweGrid {
    grid-template-columns: 1fr;
    .elementGrid {
      width: 45%;
    }
    .pierwszy {
      grid-column: 1;
      margin-bottom: 20px;
    }
    .drugi {
      grid-column: 1;
      grid-row: 2;
    }
  }
  .pajak, .pajak2{
    height: 30vh;
  }
  .tekstPajka{
    font-size: 35px;
  }
  .foteloDiv{
    margin-bottom: 0;
  }
}
@media (max-width: 930px) {
  #backgroundVideo {
    height: 35vh;
  }
}
@media (max-width: 800px) {

}
@media (max-width: 750px) {
  .pakietyCenoweGrid {
    .elementGrid {
      width: 70%;
    }
  }
}
@media (max-width: 650px) {
  .leadTekst{
    font-size: 31px;

  }
  .tekstPajka{
    font-size: 23px;
  }
  .pajak3{
    height: 11vh;
  }
  #historia{
    .conteinerH{
      grid-template-columns: auto 1fr auto;
    }
    .tekstH{
      grid-row: 2;
      grid-column: 2;
    }
    .tekstH2{
      grid-row: 2;
      grid-column: 2;
    }
    .obrazH2{
      grid-column: 2;
      grid-row: 1;
    }
  }
  .flexo{
    display: block;
  }
  .rowP {
    padding: 10px;
  }
  video {
    display: none;
  }
  #backgroundVideo {
    height: 313px;
    background-color: var(--var-szary);
  }
  .wlasciwa {
    grid-row: 1;
  }
  .kontaktGrid{
    grid-template-columns: 1fr;
  }
}
